<section>
	<div id="location_search">
		<h4>Search a new location</h4>
		<form id="weather_search">
			<input id="weather_search_city" type="text" placeholder="City">
			<input id="weather_search_state" type="text" placeholder="State">
			<input type="submit" value="Let's go">
		</form>
	</div>


	<div id="favorite">
		<h2>Favorite List</h2>
		<select>
			<%= @favorites.each do |favorite| %>
  		<option name="<%=favorite.id%>" value="<%=favorite.city%>,<%=favorite.state%>" id="favorite<%=favorite.id%>"><%=favorite.name%></option>
  		<% end %>
  		<input id="delete_favorite" type="submit" value="Delete Favorite">
		</select>
	</div>
</section>
<section>
	<div id="main-forecast">
	<h1>Main Forecast</h1>
		<div id="pic">
		</div>
		<div id="city">
			<h2></h2>
		</div>
		<div id="state">
			<h2></h2>
		</div>
		<div id="temp">
			<h3></h3>
		</div>
		<div id="short-summary">
			<h4></h4>
		</div>
		<div id="long-summary">
			<p></p>
		</div>
	</div>
</section>
<section>
	<div id="ten-day-forecast">
	<h2>Ten Day Forecast</h2>
		<div id="0">
			<ul>
			</ul>
		</div>
		<div id="1">
			<ul>
			</ul>
		</div>
		<div id="2">
			<ul>
			</ul>
		</div>
		<div id="3">
			<ul>
			</ul>
		</div>
		<div id="4">
			<ul>
			</ul>
		</div>
		<div id="5">
			<ul>
			</ul>
		</div>
		<div id="6">
			<ul>
			</ul>
		</div>
		<div id="7">
			<ul>
			</ul>
		</div>
		<div id="8">
			<ul>
			</ul>
		</div>
		<div id="9">
			<ul>
			</ul>
		</div>
	</div>
</section>
<section>
	<div id="favorite_button">
		<%= form_for ([current_user, current_user.favorites.build]) do |f| %>
		<%= f.label :favorite_name %>
		<%= f.text_field :name, :placeholder => "Nickname this city..." %>
		<%= f.hidden_field :city %>
		<%= f.hidden_field :state %>
		<%= f.submit %>
		<% end %>
	</div>
	<p val="<%=current_user.id%>" id="current_user"><p>
</section>	

