<section>
	<div id="location_search">
		<h4>Search a new location</h4>
		<form id="weather_search">
			<input id="weather_search_city" type="text" placeholder="City">
			<input id="weather_search_state" type="text" placeholder="State">
			<input type="submit" value="Let's go">
		</form>
	</div>


	<div id="favorite">
		<h4>Favorite List</h4>
		<select>
			<%= @favorites.each do |favorite| %>
  		<option name="<%=favorite.id%>" value="<%=favorite.city%>,<%=favorite.state%>" id="favorite<%=favorite.id%>"><%=favorite.name%></option>
  		<% end %>
  		<input id="delete_favorite" type="submit" value="Delete Favorite">
		</select>
	</div>


	<div id="main-forecast">
	<h1>Main Forecast</h1>
		<div id="city">
			<h2>city</h2>
		</div>
		<div id="state">
			<h2>state</h2>
		</div>
		<div id="temp">
			<h3>temp</h3>
		</div>
		<div id="short-summary">
			<h4>short-summary</h4>
		</div>
		<div id="long-summary">
			<p>long-summary</p>
		</div>
	</div>

	<div id="ten-day-forecast">
	<h1>Ten Day Forecast</h1>
		<div id="0">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="1">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="2">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="3">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="4">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="5">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="6">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="7">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="8">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
		<div id="9">
			<ul>
				<li>Day of Week</li>
				<li>High</li>
				<li>Low</li>
				<li>Conditions</li>
			</ul>
		</div>
	</div>


	<div id="favorite_button">
		<%= form_for ([current_user, current_user.favorites.build]) do |f| %>
		<%= f.label :favorite_name %>
		<%= f.text_field :name %>
		<%= f.hidden_field :city %>
		<%= f.hidden_field :state %>
		<%= f.submit %>
		<% end %>
	</div>
	<p val="<%=current_user.id%>" id="current_user"><p>
</section>	

