<!DOCTYPE html>
<html>
<head>
  <title>Drizzly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1>Drizzly</h1>
	<% if current_user %>
	<ul>
		<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></l1>
		<li><%= link_to "Profile", edit_user_registration_path %></l1>
		<li><%= link_to "Weather", weather_path %></li>
	</ul>
	<% end %>
</header>

<%= yield %>

<footer>
	&copy 2015 Drizzly, Inc.
</footer>
<%= javascript_include_tag 'favorites' %>
<%= javascript_include_tag 'changeweather' %>
</body>
</html>
